@page "/"
@layout MainLayout
@inherits MisterM.Pages.MainPageComponent

@using Radzen
@using Radzen.Blazor
@using MisterM.Models.MsMisterM
@using MisterM.Controllers
@using Microsoft.AspNetCore.SignalR
@using MisterM.Hubs
@using System.Globalization
<RadzenContent Container="main">
    <ChildContent>
        <RadzenLabel style="height: 42px; width: 229.40625px">
        </RadzenLabel>
        <RadzenHeading Size="H1" style="height: 76px" Text="Mister Monitor">
        </RadzenHeading>
        <RadzenLabel style="border-radius: 10px; font-size: 21px; height: 55px; text-align: right; width: 860.390625px" Text="Welcome to the best computer monitoring software solution! Get real-time updates and enjoy! ">
        </RadzenLabel>
        <div style="display: flex; flex-wrap: wrap; justify-items: stretch; justify-content: space-evenly">
            <RadzenCard style="background-color: #e6ecef; margin-bottom: 16px;">
                <ChildContent>
                    <div class="row" style="flex-wrap: nowrap">
                        <RadzenIcon Icon="devices" style="height: 64px; width: 64px">
                        </RadzenIcon>
                        <div class="col-6">
                            <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: center" Text="Total devices">
                            </RadzenHeading>
                            <RadzenHeading Size="H4" style="border-radius: ; color: #cb6992; font-weight: bold; margin-bottom: 0px; text-align: center" Text="@TotalDevices.ToString()">
                            </RadzenHeading>
                        </div>
                    </div>
                </ChildContent>
            </RadzenCard>
            <RadzenCard style="background-color: #e6ecef; margin-bottom: 16px">
                <ChildContent>
                    <div class="row" style="flex-wrap: nowrap">
                        <RadzenIcon Icon="track_changes" style="height: 64px; width: 64px">
                        </RadzenIcon>
                        <div class="col-6">
                            <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: center" Text="Active now">
                            </RadzenHeading>
                            <RadzenHeading Size="H4" style="border-radius: ; color: #cb6992; font-weight: bold; margin-bottom: 0px; text-align: center" Text="@ActiveDevices.ToString()">
                            </RadzenHeading>
                        </div>
                    </div>
                </ChildContent>
            </RadzenCard>
            <RadzenCard style="background-color: #e6ecef; margin-bottom: 16px">
                <ChildContent>
                    <div class="row" style="flex-wrap: nowrap">
                        <RadzenIcon Icon="ac_unit" style="height: 64px; width: 64px">
                        </RadzenIcon>
                        <div class="col-6">
                            <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: center" Text="Average °C">
                            </RadzenHeading>
                            <RadzenHeading Size="H4" style="border-radius: ; color: #cb6992; font-weight: bold; margin-bottom: 0px; text-align: center" Text="@string.Concat(GetAverageTemperature(), " °C")">
                            </RadzenHeading>
                        </div>
                    </div>
                </ChildContent>
            </RadzenCard>
        </div>
        <RadzenFieldset AllowCollapse="false" style="height: 296.140625px; margin-left: 10px; width: 100%" Text="Last active devices">
            <ChildContent>
                <RadzenDataGrid @ref="datagrid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getComputersResult" TItem="MisterM.Models.MsMisterM.Computer" PageSize="10" RowDoubleClick="AssetDoubleClickCallback">
                    <Columns>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="mac" Title="Status" Width="70px" Filterable="false">
                            <Template Context="computer">
                                <StatusIcon IsOnline="IsComputerOnline(computer.mac)"></StatusIcon>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="mac" Title="Mac">
                            <Template Context="computer">
                                @string.Join(":", Enumerable.Range(0, 6).Select(i => computer.mac.Substring(i * 2, 2)))
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="chassis_type" Title="Chassis">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="serial_number" Title="Serial Number">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="motherboard_name" Title="Motherboard">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="cpu_model" Title="CPU">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="cpu_load" Title="CPU Load">
                            <Template Context="computer">
                                @string.Concat(computer.cpu_load?.ToString("0.00"), " %")
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="cpu_temperature" Title="CPU °C" Width="130px">
                            <Template Context="computer">
                                @string.Concat(computer.cpu_temperature.ToString(), " °C")
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="" Title="Max CPU °C" Width="130px">
                            <Template Context="computer">
                                @string.Concat(computer.cpu_max_temperature.ToString(), " °C")
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="used_ram" Title="Used RAM">
                            <Template Context="computer">
                                @string.Concat(computer.used_ram.ToString("0.00"), " GB")
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MisterM.Models.MsMisterM.Computer" Property="total_ram" Title="Total RAM">
                            <Template Context="computer">
                                @string.Concat(computer.total_ram.ToString("0.00"), " GB")
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </ChildContent>
        </RadzenFieldset>
    </ChildContent>
</RadzenContent>

@code
{
    protected override async Task OnInitializedAsync()
    {
        TotalDevices = await ComputerController.GetComputerCount();
        ActiveDevices = ComputerController.GetConnectedDeviceCount();

        ComputerController.ComputerChanged += UpdateComputer;
        ComputerController.ComputerAdded += AddComputer;
        DeviceReadingHub.ClientCountChanged += UpdateConnectedClients;

        await base.OnInitializedAsync();
    }

    private async Task AssetDoubleClickCallback(DataGridRowMouseEventArgs<Computer> obj)
    {
        await DialogService.OpenAsync<InfoCard>("", new Dictionary<string, object> {{"MAC", obj.Data.mac}}, new DialogOptions
        {
            Width = "80%",
            Height = "80%",
            Resizable = true,
            Draggable = true,
            CloseDialogOnOverlayClick = true
        });
    }
}